.columns>div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns>div>div {
  order: 1;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  display: block;
}

/* Style for the header-container div */
.header-container {
  text-align: center;
}

.header-container h2#welcome-caregivers {
  color: #170b95;
  font-weight: normal !important;
}

.icon-container h2#welcome-caregivers {
  color: #170b95;
  font-weight: normal !important;
  font-size: 2rem;
}

.columns.cmp-caregiversinfo.block.columns-1-cols .icon-container p {
  font-size: 1.5rem;
  color: #333;
  margin-top: 8px;
}

.columns.cmp-caregiversinfo.block.columns-1-cols {
  margin-left: 99px;
  margin-right: 99px;
}


.div-7 {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.div-7>div {
  flex: 1;
}

.agitation-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapped-content {
  width: 100%;
}

.columns.cmp-caregiversinfo.block.columns-1-cols .agitation-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 2rem;
  outline: 4px dashed #ac89cd;
  outline-offset: -2px;
  border-radius: 10px;
}

.columns.cmp-caregiversinfo.block.columns-1-cols .agitation-wrapper > .wrapped-content {
  flex: 0 0 75%;
}

.columns.cmp-caregiversinfo.block.columns-1-cols .agitation-wrapper > .agitation-description {
  flex: 0 0 25%;
}

/* Scoped styles for .div-5, .div-7, .div-8, .div-9, .div-10, and .icon-details-container */
.columns.cmp-caregiversinfo.block.columns-1-cols .div-5,
.columns.cmp-caregiversinfo.block.columns-1-cols .div-7,
.columns.cmp-caregiversinfo.block.columns-1-cols .div-8,
.columns.cmp-caregiversinfo.block.columns-1-cols .div-9,
.columns.cmp-caregiversinfo.block.columns-1-cols .div-10,
.columns.cmp-caregiversinfo.block.columns-1-cols .icon-details-container {
  padding: 10px;
  margin-bottom: 5px;
}

/* Scoped styles for .div-6 p */
.columns.cmp-caregiversinfo.block.columns-1-cols .div-6 p {
  line-height: 1.5;
}

/* Scoped styles for .div-8 p, .div-9 p, .div-10 p, and .icon-details-container p */
.columns.cmp-caregiversinfo.block.columns-1-cols .div-8 p,
.columns.cmp-caregiversinfo.block.columns-1-cols .div-9 p,
.columns.cmp-caregiversinfo.block.columns-1-cols .div-10 p,
.columns.cmp-caregiversinfo.block.columns-1-cols .icon-details-container p {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

/* Scoped styles for .div-7 .icon */
.columns.cmp-caregiversinfo.block.columns-1-cols .div-7 .icon {
  display: inline-flex;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
}

/* Scoped styles for .div-7 .icon img */
.columns.cmp-caregiversinfo.block.columns-1-cols .div-7 .icon img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Scoped styles for .div-7 p */
.columns.cmp-caregiversinfo.block.columns-1-cols .div-7 p {
  font-size: 1rem;
  position: relative;
}

/* Scoped styles for .div-7 .div-8 p, .div-7 .div-9 p, .div-7 .div-10 p */
.columns.cmp-caregiversinfo.block.columns-1-cols .div-7 .div-8 p,
.columns.cmp-caregiversinfo.block.columns-1-cols .div-7 .div-9 p,
.columns.cmp-caregiversinfo.block.columns-1-cols .div-7 .div-10 p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.agitation-description .icon {
  display: inline-flex;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  align-items: center;
  justify-content: center;
}

.agitation-description .icon img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  align-items: center;
}

.agitation-description .icon-details-container p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.agitation-description .icon-details-container p:nth-of-type(2) {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style for circular numbers */
.columns.cmp-listcolumns.block.columns-3-cols .header-container > div {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-size: 1.25rem; /* Increase font size of text */
}

.columns.cmp-listcolumns.block.columns-3-cols .header-container > div::before {
  counter-increment: card-counter;
  content: counter(card-counter);
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #fff;
  background-color: #0665a3;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Initialize counter for the numbers */
.columns.cmp-listcolumns.block.columns-3-cols .header-container {
  counter-reset: card-counter;
}

.columns.cmp-listcolumns.block.columns-3-cols {
  margin-left: 180px;
  margin-right: 224px;
}

.columns.cmp-listcolumns.block.columns-3-cols .header-container > div p {
  margin-top: 0;
}

.default-content-wrapper h2#empowering-caregivers-an-easy-to-use-tool-for-recognizing-agitation-in-alzheimers-dementia1 {
  text-align: center;
  color: #170b95;
}

.section.about-care-giver-section.columns-container .icon-container.div-2 {
  text-align: left;
}

.section.about-care-giver-section.columns-container .icon-container.div-2 p:nth-of-type(2) {
  outline: 4px dashed #ac89cd;
  outline-offset: -2px;
  border-radius: 10px;
  padding: 1rem; /* Optional: Add padding for better spacing inside the border */
}

.section.about-care-giver-section.columns-container .columns-img-col.agitation-description.div-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.about-care-giver-section.columns-container .columns-img-col.agitation-description.div-3 img {
  width: 320px;
  height: 320px;
  object-fit: cover; /* Ensures the image fits nicely within the dimensions */
}

.section.about-care-giver-section.columns-container {
  margin-left: 223px;
  margin-right: 223px;
} 


.section.aasc-tool-section.bg-purple.columns-container h2 {
  text-align: center;
  color: #170b95;
  font-weight: normal !important;
  font-size: 2rem;
}

/* Initialize counter for numbering */
.section.aasc-tool-section.bg-purple.columns-container .header-container {
  counter-reset: column-counter;
}

/* Style for numbered columns */
.section.aasc-tool-section.bg-purple.columns-container .header-container > div::before {
  counter-increment: column-counter;
  content: counter(column-counter);
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #fff;
  background-color: #0665a3;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px; /* Add spacing between the number and the text */
}

/* Align the text next to the numbers */
.section.aasc-tool-section.bg-purple.columns-container .header-container > div {
  display: flex;
  align-items: flex-start;
  font-size: 1.25rem; /* Adjust font size for text */
  text-align: left;
}
.section.aasc-tool-section.bg-purple.columns-container {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 80px;
  background-color: #e5e2ff99;
}

.section.aasc-tool-section.bg-purple.columns-container .header-container .icon-container.div-2 p,
.section.aasc-tool-section.bg-purple.columns-container .header-container .agitation-description.div-3 p,
.section.aasc-tool-section.bg-purple.columns-container .header-container .icon-details-container.div-4 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.section.aasc-tool-section.bg-purple.columns-container .button-container {
  text-align: center; /* Center the content inside the container */
}

.section.aasc-tool-section.bg-purple.columns-container .button-container .button {
  display: inline-block; /* Ensure the button respects the centering */
}

/* Style for the second <p> tag */
.section.aasc-tool-section.bg-purple.columns-container .default-content-wrapper > p:nth-child(2) {
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center-align vertically */
  justify-content: center; /* Center-align horizontally */
  text-align: center; /* Center-align the text */
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  border-top: 1px solid rgba(37, 84, 195, 0.2);
  border-bottom: 1px solid rgba(37, 84, 195, 0.2);
  margin-top: 0; /* Optional: Remove any default margin */
  margin-bottom: 0; /* Optional: Remove any default margin */
}

.aasc-tool-section .default-content-wrapper > p:nth-child(2) {
  display: flex;
  align-items: center; /* Adjust vertical alignment as needed */
}

/* Style for the icon inside the second <p> tag */
.aasc-tool-section .default-content-wrapper > p:nth-child(2) .icon.icon-clock {
  display: inline-flex;
  width: 80px;
  height: 80px;
  align-items: center; /* Center-align icon vertically */
  justify-content: center; /* Center-align icon horizontally */
  margin-right: 10px; /* Adjust spacing between the icon and text */
}

/* Ensure the image inside the icon scales properly */
.aasc-tool-section .default-content-wrapper > p:nth-child(2) .icon.icon-clock img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

/* Style for the section */
.section.what-is-aasc-section.columns-container {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 40px; /* Add top margin */
}

/* Center-align and apply color to the h2 and h4 */
.section.what-is-aasc-section.columns-container .default-content-wrapper h2#what-is-the-aasc1,
.section.what-is-aasc-section.columns-container .default-content-wrapper h4#the-aasc-is-comprised-of-an-introduction-followed-by-two-main-questions-that-screen-for-the-presence-and-impact-of-agitation-behaviors-in-patients-with-alzheimers-dementia {
  text-align: center; /* Center-align the text */
  color: #170b95; /* Apply the same color as previously used */
  font-weight: normal; /* Optional: Adjust font weight */
}

.section.what-is-aasc-section.columns-container .default-content-wrapper h4#the-aasc-is-comprised-of-an-introduction-followed-by-two-main-questions-that-screen-for-the-presence-and-impact-of-agitation-behaviors-in-patients-with-alzheimers-dementia {
  color: #000; /* Set the color to black */
}

.section.what-is-aasc-section.columns-container .header-container .icon-container.div-2,
.section.what-is-aasc-section.columns-container .header-container .agitation-description.div-3,
.section.what-is-aasc-section.columns-container .header-container .icon-details-container.div-4 {
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start; /* Align content at the top and left */
  justify-content: flex-start; /* Ensure content is aligned at the top */
  text-align: left; /* Align text to the left */
  gap: 16px; /* Add spacing between elements */
}

/* Center-align the button */
.section.what-is-aasc-section.columns-container .button-container {
  text-align: center; /* Center-align the content inside the container */
}

.section.what-is-aasc-section.columns-container .button-container .button {
  display: inline-block; /* Ensure the button respects the centering */
}

.section.why-aasc-section.bg-grey.columns-container .default-content-wrapper h2#why-the-aasc1 {
  text-align: center; /* Center-align the text */
  color: #170b95; /* Apply the previously used color */
  font-weight: normal; /* Optional: Adjust font weight */
}

/* Left-align all text inside the columns-wrapper */
.section.why-aasc-section.bg-grey.columns-container .columns-wrapper {
  text-align: left; /* Align all text to the left */
}

/* Ensure specific alignment for header-container and its child elements */
.section.why-aasc-section.bg-grey.columns-container .header-container .icon-container.div-2,
.section.why-aasc-section.bg-grey.columns-container .header-container .agitation-description.div-3 {
  text-align: left; /* Align text to the left */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start; /* Align content at the top and left */
  gap: 16px; /* Add spacing between elements */
}

/* Center-align and apply color to the h2 */
.section.how-to-use-aasc-section.columns-container .default-content-wrapper h2#how-to-use-the-aasc1 {
  text-align: center; /* Center-align the text */
  color: #170b95; /* Apply the previously used color */
  font-weight: normal; /* Optional: Adjust font weight */
}

/* Initialize counter for numbering */
.section.how-to-use-aasc-section.columns-container .header-container {
  counter-reset: column-counter; /* Reset the counter only once for the parent container */
}

/* Style for numbered columns */
.section.how-to-use-aasc-section.columns-container .header-container > div::before {
  counter-increment: column-counter; /* Increment the counter for each child div */
  content: counter(column-counter); /* Display the counter */
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #fff;
  background-color: #0665a3;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px; /* Add spacing between the number and the text */
}

/* Align the number and h3 inline */
.section.how-to-use-aasc-section.columns-container .header-container > div {
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start; /* Align content to the left */
  gap: 8px; /* Add spacing between the number, h3, and ul */
  text-align: left; /* Align text to the left */
}

/* Ensure h3 and ul are separated */
.section.how-to-use-aasc-section.columns-container .header-container > div > h3 {
  display: flex;
  align-items: center; /* Align the number and h3 inline */
  gap: 16px; /* Add spacing between the number and the text */
  margin: 0; /* Remove default margins */
}

.section.how-to-use-aasc-section.columns-container .header-container > div > ul {
  margin-top: 8px; /* Add spacing between the h3 and the ul */
}



@media (width >=900px) {
  .columns>div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns>div>div {
    flex: 1;
    order: unset;
  }
}