footer {
  background-color: var(--purple);
  font-size: var(--body-font-size-xs);
  color: #fff;
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}
footer .footer a {
  color: #fff;
}

footer .footer ul {
  list-style-type: none;
}

footer .footer p + ul {
  font-size: 14px;
}

footer .footer p + ul > li{
  font-size: 12px;
}

footer .footer p {
  margin: 0;
}

footer .footer img {
  width: 100%;
  height: auto;
}

@media (width >= 900px) {
  footer {
    padding 40px 0 30px;
    font-size: 14px;
  }

  footer .footer > div {
    padding: 40px 32px 24px;
  }

  .footer .columns-wrapper {
    border-bottom: 1px solid #fff;
    padding-bottom: 26px;
    margin-bottom: 26px;
  }

  .footer .columns-wrapper .header-container { 
    text-align: left;
  }

  .footer .columns-wrapper .header-container a {
    font-size: 16px;
    font-weight: 700;
    }
  .footer .columns-wrapper .header-container ul {
    margin: 0;
  }
}
